<!DOCTYPE html>
<style>
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: black;
    }

    li {
        float: left;
    }

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    li a:hover:not(.active) {
        background-color: grey;
        color: white;
    }

</style>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Oskar Lipieński</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div>
        <ul>
            <li>@Html.ActionLink("Oskar Lipieński", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })</li>
            <li>@Html.ActionLink("Gallery", "Gallery", "Home")</li>
            <li>@Html.ActionLink("CV", "CV", "Home")</li>
            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
            @{
                if (Session["userid"] != null)
                {
                    <li style="float: right;">@Html.ActionLink("Account Settings", "Settings", "Users")</li>
                    <li style="float: right;">@Html.ActionLink("Logout", "Logout", "Login")</li>
                }
                else
                {
                    <li style="float: right;">@Html.ActionLink("Login/Register", "Login", "Login")</li>
                }
            }
        </ul>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Oskar Lipieński</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
